<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
    <property name="queryTimeoutSecond" value="5"/>
  </properties>
  <mappers>
    <mapper resource="com.blen.exam.dao/UserAccountMapper.xml"/>
    <mapper resource="com.blen.exam.dao/UserWithdrawAddressMapper.xml"/>
    <mapper resource="com.blen.exam.dao/WithdrawalMapper.xml"/>
    <mapper resource="com.blen.exam.dao/UserInfoMapper.xml"/>
  </mappers>
</configuration>